.tracked_city {
    color: #738287;
    flex-grow: 1;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 0 0 5px 0 #202020;
}

.wf_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.city_name {
    font-size: 24px;
    font-weight: bold;
    padding: 0 5px;
}

.temperature_c {
    color: #435257;
    font-size: 40px;
    padding: 0 5px;
    line-height: 1;
}

.weather_icon {
    max-width: 40px;
    max-height: 40px;
    filter: drop-shadow(2px 4px 6px black);
}

.remove_city_button {
    display: inline-block;
    background-color: #435257;
    color: white;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25);
}
