.tracked_city {
    margin-top: 12px;
}

.tracked_city_panel {
    background-color: white;
    margin: 10px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #202020;
    padding: 10px;
    text-align: start;
    color: #435257;
    font-weight: bold;
    font-size: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add_form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.add_field {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #8199A3;
    border: none;
    color: white;
}

.add_field::placeholder {
    color: blanchedalmond;
}

.add_button {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: #8199A3;
    font-size: medium;
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
}

.tracked_city_list {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}