.current_city {
    display: flex;
    flex-direction: row;
    color: #D1D5D8;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #202020;
    flex-wrap: wrap;
    padding: 5px 0;
}